<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>库存管理系统</title>
		<meta name="keywords" />
		<meta name="description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />-->

		<!-- ace styles -->

		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="assets/css/datepicker.css" />
		<link rel="stylesheet" href="css/page.css" />
		

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							库存管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li >
							<a href="index.html">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 首页 </span>
							</a>
						</li>

						<li>
							<a href="brand.html">
								<i class="icon-picture"></i>
								<span class="menu-text"> 品牌管理 </span>
							</a>
						</li>
						<li>
							<a href="classify.html">
								<i class="icon-desktop"></i>
								<span class="menu-text"> 分类管理 </span>
							</a>
						</li>
						<li>
							<a href="product.html">
								<i class="icon-calendar"></i>
								<span class="menu-text"> 商品管理 </span>
							</a>
						</li>
						<li>
							<a href="custom.html">
								<i class="icon-group"></i>
								<span class="menu-text"> 客户管理 </span>
							</a>
						</li>
						<li class="active">
							<a  href="order.html">
								<i class="icon-edit"></i>
								<span class="menu-text"> 订单管理 </span>
							</a>
						</li>
						<li>
							<a href="report.html">
								<i class="icon-list"></i>
								<span class="menu-text"> 报表查询 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">订单管理</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								订单管理
								<small>
									<i class="icon-double-angle-right"></i>
									 查看
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div><div style="padding:10px" >		
							<div class="col-xs-12">
									<p >
										<input type="text" placeholder="用户姓名"  id="cnameSearch" value="">&nbsp;&nbsp;
										<input type="text" placeholder="用户电话"  id="mobileSearch" value="">&nbsp;&nbsp;	
										<input type="text" placeholder="商品名称"  id="pnameSearch" value="">&nbsp;&nbsp;	
										<input type="text" placeholder="销售渠道"  id="sourceSearch" value="">&nbsp;&nbsp;
									
									&nbsp;&nbsp;
									<select id="statusSearch">
										<option value="1" selected="selected">已确认</option>
										<option value="2">已发货</option>
										<option value="0">退货</option>
									</select>&nbsp;&nbsp;&nbsp;
									<input class="date-picker" style="width: 120px;"
										 id="timeStart" type="text" placeholder="开始时间" data-date-format="yyyy-mm-dd" />	
									&nbsp;-<input class="date-picker" style="width: 120px;"
										 id="timeEnd" type="text" placeholder="截止时间" data-date-format="yyyy-mm-dd" />&nbsp;&nbsp;&nbsp;
									<button class="btn btn-xs btn-info" onclick="searchorders()">
										<i class="icon-search icon-white"></i>查询
									</button>
									&nbsp;&nbsp;
									<button class="btn btn-xs btn-success" onclick="refreshList()">
										<i class=" icon-folder-open-alt icon-white"></i>刷新
									</button>
									</p>			
							</div>
						</div>	
						<div>
						<table id="orderTable" class="table table-striped table-bordered table-hover" style="width:99%;" >
						<thead>
							<tr>
								<th>商品名称</th>
								<th>客户姓名</th>
								<th>客户电话</th>	
								<th>订单状态</th>
								<th>售出总价</th>
								<th>售出数量</th>
								<th>销售渠道</th>
								<th>添加时间</th>
								<th>物流</th>
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>
						 <tbody id="orderList">
						 	
						</tbody> 
					</table>
					<p >
						<div class="page_div" id="pageDiv"></div>
					</p>
					</div>
					</div>

					</div>
				</div>
			</div><!-- /.main-container-inner -->

		</div><!-- /.main-container -->
<!--
	作者：1059487328@qq.com
	时间：2018-03-07
	描述：发货
-->		
<div id="sendOrder_dia" class="modal fade" tabindex="-1">
<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header no-padding">
						<div class="table-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span class="white">&times;</span>
							</button>
							发货
						</div>
					</div>
					<div class="modal-body padding-12" >
						<input type="hidden" id="sendOrder_id" value="" />
						<p>物流信息：&nbsp;&nbsp;<textarea id ="sendOrder_express" value="" ></textarea></p>
					</div>
					<div class="modal-footer no-margin-top">
						<button class="btn btn-sm btn-info pull-right" onclick="sendOrder_dia_save()">
							<i class="icon-save"></i>
							Save
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
</div>
<!--
	作者：1059487328@qq.com
	时间：2018-03-07
	描述：退货
-->		
<div id="returnOrder_dia" class="modal fade" tabindex="-1">
<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header no-padding">
						<div class="table-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span class="white">&times;</span>
							</button>
							退货
						</div>
					</div>
					<div class="modal-body padding-12" >
						<input type="hidden" id="returnOrder_id" value="" />
						<p>备注信息：&nbsp;&nbsp;<textarea id ="returnOrder_remark" value="" ></textarea></p>
					</div>
					<div class="modal-footer no-margin-top">
						<button class="btn btn-sm btn-info pull-right" onclick="returnOrder_dia_save()">
							<i class="icon-save"></i>
							Save
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
</div>		
		
		
		<script src="assets/js/jquery-2.0.3.min.js"></script>
		<script src="js/order.js"></script>
		<script src="js/page.js"></script>

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/typeahead-bs2.min.js"></script>

		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>
		<script src="assets/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="assets/js/date-time/bootstrap-timepicker.min.js"></script>
		<script src="assets/js/date-time/moment.min.js"></script>
		<script src="assets/js/date-time/daterangepicker.min.js"></script>

		<!-- inline scripts related to this page -->
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>



</body>
</html>

